img,
video {
  width: 100%;
  height: auto;
  display: block;
}

.video_wrapper {
  display: grid;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
